aiofiles
aiohttp
asyncio
dnspython
future
ffmpeg-python
gitpython
heroku3
motor
py-tgcalls==0.8.1
pyrogram==1.4.16
pillow
psutil
python-dotenv
pyyaml==5.3.1
python-arq
requests
speedtest-cli
telethon
telegraph
tgcrypto
wget
youtube_dl
youtube-search-python==1.6.6
yt-dlp==2023.03.04
youtube-search
